

.history{
    background-image: url(./assets/bricks.png);
    background-repeat: no-repeat;
    background-position: center left ;
    background-size: 60%;
}

.social, .cb {
    text-align: center;
    font-size: 1.2rem;
}
i {
    padding: 0 0.5rem;
}

.social {
    margin:2rem 0;
}
.login {
    padding: 2rem 0;
}
.fa-user {
    font-size: 2rem;
}
.firstRow, .breadcrumb {
    background-color: rgba(227, 237, 255, 0.28);
}

.carousel-caption:hover {
    background-color: rgba(0, 0, 0, 0.63);
}
.paginationNav {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}